<body>
    <h1>HELLO!</h1>
    


    <h2>Signup Form</h2>
    <form>
        <input type="text" name="name" id="signUpName" placeholder="Type your name here">
        <input type="password" name="password" id="signUpPassword" placeholder="Enter your password">
        <input id="signUpSubmit" type="submit">
    </form>
    
    
    
    <button id="tokenTester">CLICK ME TO TEST TOKEN</button>
    
    <button id="logout">CLICK ME TO LOGOUT</button>
    <br>
    <button id="tokenCheck">token checker</button>


    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/login.js"></script>
    
    </body>